// responsive home ---------------------------------
@media screen and (max-width: 750px) {
  .men {
    display: block;
  }
  .hi1 {
    display: none;
  }
  header {
    height: 120px;
  }
  .nombre {
    display: none;
  }
  .headarriba {
    padding: 0px;
    height: 120px;
  }
  hr {
    display: none;
  }
  .bar {
    position: relative;
    width: 60%;
    padding-left: 10%;
  }
  .busque-btn {
    height: 40px;
    width: 40px;
    span {
      display: none;
    }
    i {
      display: block;
      font-size: 15px !important;
    }
  }
  .headicon {
    margin-left: 0px;
  }
  header .fas {
    color: white;
    font-size: 25px;
  }

  .hi2 {
    margin-left: 0px;
    position: relative;
    left: 50%;
  }
  .direccion {
    padding-top: 5%;
  }
  .inicio {
    display: block;
    a {
      color: white !important;
    }
  }
  .fa-map-marker-alt {
    margin-right: 10px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .elementos {
    color: white;
  }
  .opcion a {
    color: white;
  }
  .headabajo {
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: all 1s;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    gap: 2%;
  }
  .carousel {
    width: 100%;
  }
  .men {
    position: absolute;
    top: 45px;
    left: 40px;
  }
  #burguir:checked ~ .headabajo {
    transform: translateX(0%);
    transition: all 1s;
  }
  //-----------Responsive ubicacion---------------
  .contenedor-ubicacion {
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  .ubicacion {
    align-self: center;
    width: 100%;
    iframe {
      width: 100%;
    }
  }
  .datcont {
    width: 100%;
  }
  //---------Responsive Recientes-------------------
  .recomienda-titulo {
    width: 100%;
  }
  .contenido-reciente {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5%;
    margin: 5%;
  }
  .barra {
    background-color: rgb(236, 236, 236);
    height: 300px;
    width: 80%;
    padding: 3%;

    select {
      margin-left: 25px;
      width: 60%;
    }
  }
  .recientes {
    height: 500px;
    width: 80%;
    margin-top: 5%;
  }
  .compra {
    height: 150px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 5px 6px 0.1px lightgrey;
    border-radius: 10px;
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
    img {
      height: 100%;
      border-radius: 10px 0 0 10px;
      vertical-align: top;
    }
  }
  .descripcion {
    display: inline-block;
    position: relative;
    margin-top: 10px;
    margin-left: 40px;
    p {
      padding: 0;
      margin: 3%;
    }
  }
  .titulorec {
    font-weight: 800;
    font-size: 25px;
  }
}
