// responsive home ---------------------------------
@media screen and (max-width: 750px) {
  .men {
    display: block;
  }
  .hi1 {
    display: none;
  }
  header {
    height: 120px;
  }
  .nombre {
    display: none;
  }
  .headarriba {
    padding: 0px;
    height: 120px;
  }
  hr {
    display: none;
  }
  .bar {
    position: relative;
    width: 60%;
    padding-left: 10%;
  }
  .busque-btn {
    height: 40px;
    width: 40px;
    span {
      display: none;
    }
    i {
      display: block;
      font-size: 15px !important;
    }
  }
  .headicon {
    margin-left: 0px;
  }
  header .fas {
    color: white;
    font-size: 25px;
  }

  .hi2 {
    margin-left: 0px;
    position: relative;
    left: 50%;
  }
  .direccion {
    padding-top: 5%;
  }
  .fa-map-marker-alt {
    margin-right: 10px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .elementos {
    color: white;
  }
  .opcion a {
    color: white;
  }
  .headabajo {
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: translateX(-100%);
    transition: all 1s;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    gap: 2%;
  }
  .carousel {
    width: 100%;
  }
  .men {
    position: absolute;
    top: 45px;
    left: 40px;
  }
  #burguir:checked ~ .headabajo {
    transform: translateX(0%);
    transition: all 1s;
  }
}
