/*--- Estilos Pagina ubicacion----------*/
.contenedor-ubicacion {
  display: flex;
  margin: 5% auto 5% 0;
  align-content: center;
  justify-content: center;
}

.datcont {
  background-color: rgb(241, 241, 241);
  height: 450px;
  width: 300px;
  padding: 40px;
}
